# Git file listing glob patterns specifying files to be ignored when
# looking for "untracked" files.
output/
netbeans/
*.kml
*.gz
*.class
*.orig
data/pcl_travel
data/trdev
data/xml-trdev
data/raw-trdev
api/
target/
tmp/
*~
project/boot
lib_managed/
data/models/*.bin
data/gazetteers/*.zip

# C code generation
*.o
*.so

# Python
*.pyc
python/wikigrounder/build
python/wikigrounder/kl_divergence.c
logs/
alltrials-*.sh
